/* {
    background-color: #ccc;
}*/


.content {
    float: left;
    position: fixed;
    width: 100%;
    height: 100%;
    /* background-color: #f0f; */
}

button.nes-container {
    background-color: #fff;
    color: #000;
    width: 100%;
    border: none;
}

button.nes-container.is-dark {
    background-color: #000;
    color: #fff;
}

.nes-btn-wide {
    width: 100%;
}